* {
    box-sizing: border-box;
}

main {
    margin: 20px;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.center,
.left-top,
.left-mid,
.left-bot,
.mid-top,
.mid-bot,
.right-top,
.right-mid,
.right-bot {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    width: 30vw;
    height: 30vw;
}

.center__mid-top:hover {
    background-color: blueviolet;
    transition: 250ms ease-in-out;
}